<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include "partials/analytics.html" %}
{% block head %}{% endblock %}
  <link rel="stylesheet" href="/assets/base.css">
  <script src="/assets/theme-init.js"></script>
</head>
<body>
{% block skip %}{% endblock %}
{% include "partials/crisis.html" %}
  <button class="theme-toggle" id="theme-toggle" type="button" aria-pressed="false">Dark theme</button>
{% block masthead %}{% endblock %}
{% include "partials/register.html" %}
{% include "partials/nav.html" %}
{% block body %}{% endblock %}
{% include "partials/site-footer.html" %}
  <script src="/assets/theme.js" defer></script>
{% block scripts %}{% endblock %}
</body>
</html>
